*.suo
merge-image.v12.suo
MyHelper/obj/
MyHelper/bin/
winform/bin/
winform/obj/

research/database_compare/.vs
research/database_compare/.vs/*
research/database_compare/packages/
research/database_compare/database_compare/bin/
research/database_compare/database_compare/obj/

research/FlashPlayer/.vs
research/FlashPlayer/.vs/*
research/FlashPlayer/packages/
research/FlashPlayer/FlashPlayer/bin/
research/FlashPlayer/FlashPlayer/obj/

research/google_sheets_v4/.vs
research/google_sheets_v4/.vs/*
research/google_sheets_v4/packages/
research/google_sheets_v4/ConsoleApplication1/bin/
research/google_sheets_v4/ConsoleApplication1/obj/

research/postmain_container/.vs
research/postmain_container/.vs/*
research/postmain_container/packages/
research/postmain_container/GenData/bin/
research/postmain_container/GenData/obj/

research/threejs/.vs
research/threejs/.vs/*
research/threejs/packages/
research/threejs/threejs/bin/
research/threejs/threejs/obj/

os_folder_movie/5.2.Frontend.And.Testing/folder_movie/.vs
os_folder_movie/5.2.Frontend.And.Testing/folder_movie/.vs/*
os_folder_movie/5.2.Frontend.And.Testing/folder_movie/packages/
os_folder_movie/5.2.Frontend.And.Testing/folder_movie/WinForm/bin/
os_folder_movie/5.2.Frontend.And.Testing/folder_movie/WinForm/obj/

os_read_template/5.2.Frontend.And.Testing/read_template/.vs
os_read_template/5.2.Frontend.And.Testing/read_template/.vs/*
os_read_template/5.2.Frontend.And.Testing/read_template/packages/
os_read_template/5.2.Frontend.And.Testing/read_template/WinForm/bin/
os_read_template/5.2.Frontend.And.Testing/read_template/WinForm/obj/

os_excelchangedata/ionic4/node_modules/
os_excelchangedata/ionic4/platforms/
os_excelchangedata/DataExcel/.vs
os_excelchangedata/DataExcel/.vs/*
os_excelchangedata/DataExcel/packages/
os_excelchangedata/DataExcel/APIBusiness/bin/
os_excelchangedata/DataExcel/APIBusiness/obj/
os_excelchangedata/DataExcel/APIBusiness/Uploads/
os_excelchangedata/DataExcel/BusinessBackground/bin/
os_excelchangedata/DataExcel/BusinessBackground/obj/
os_excelchangedata/DataExcel/FormsBackground/bin/
os_excelchangedata/DataExcel/FormsBackground/obj/
os_excelchangedata/DataExcel/WindowsBackground/bin/
os_excelchangedata/DataExcel/WindowsBackground/obj/
os_excelchangedata/DataExcel/WindowsBackgroundSetup/Debug/
os_excelchangedata/DataExcel/WindowsBackgroundSetup/Release/
os_excelchangedata/DataExcel/ConsoleGetToken/bin/
os_excelchangedata/DataExcel/ConsoleGetToken/obj/

