*.xlsx
*.suo
merge-image.v12.suo
MyHelper/obj/
MyHelper/bin/
winform/bin/
winform/obj/

research/database_compare/.vs
research/database_compare/.vs/*
research/database_compare/database_compare/bin/
research/database_compare/database_compare/obj/