<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- log4net configuration when running in debug mode. -->
    <add key="log4net.Internal.Debug" value="true" />

    <add key ="TimerSend" value="6000"/>
    <add key ="LogData" value="true"/>
    <add key ="ServerName" value="192.168.1.252"/>
    <add key ="CPUHighPercent" value="90"/>
    <add key ="RAMHighPercent" value="5"/>
    <add key ="HDDHighPercent" value="5"/>
    <add key ="SendHigh" value="true"/>
    <add key ="SecondCheck" value="10"/>
    <add key ="BatchInit" value=""/>
    <add key ="BatchCheck" value=""/>

    <add key="RabbitHost" value="125.212.248.161" />
    <add key="RabbitPort" value="5672" />
    <add key="RabbitUserName" value="localsender" />
    <add key="RabbitPassword" value="localsender" />
    <add key="RabbitKey" value="ServerPerformance" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net debug="false">
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\tms\TriggerTimer\logs\" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[-%property{Reset}-][-%property{Date}-][-%property{DateTicks}-][-%property{StackTrace}-][-%message--]%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="DebugAppender" />
    </root>
  </log4net>
</configuration>